# Archivos compilados de Python
__pycache__/
*.py[cod]
*$py.class

# Archivos de entorno virtual (por si en el futuro creas uno localmente)
venv/
env/

# Archivos de bases de datos locales de Django
db.sqlite3

# Variables de entorno y secretos
.env
.test-deps/
.test-downloads/

# Dependencias y archivos temporales de las pruebas locales
/.test-deps/
/.test-downloads/

# Archivos estáticos y multimedia (opcional en desarrollo, vital en producción)
/media/
/static/

# Archivos de tu IDE/Editor
.vscode/
.idea/
*.swp
